/* BEBAS NEUE */
@font-face {
  font-family: Bebas;
  src: url('../assets/fonts/BebasNeue-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Mont;
  src: url('../assets/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MontBold;
  src: url('../assets/fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: MontThin;
  src: url('../assets/fonts/Montserrat-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: MontMedium;
  src: url('../assets/fonts/Montserrat-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: MontSemi;
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: MontExtraBold;
  src: url('../assets/fonts/Montserrat-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}
